// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbfce;
$gray: #888888;
$margin: 16 px;

@mixin text-font { font-family: 'Courier New', sans-serif;}
@mixin title-font { font-family: Arial, serif;}

h1 {
  @include title-font;
  font-weight: bold;
  color: $blue;
}

p {
  @include text-font;
  color: $gray;
}
